@import '../../../scss/variables.scss', '../../../scss/mixins.scss';

.list-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 8px;
  margin-top: 40px;

  @include for-tablet-portrait-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-desktop-up {
    grid-template-columns: repeat(3, 1fr);
  }
}

.pokemon-link-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid $primary-a20;
  border-radius: 8px;


  .pokemon-title-name {
    color: $primary-a70;
  }

  &:hover {
    background-color: $primary-a10;
    .pokemon-title-name {
        color: $primary-a30;
    }
  }
}
