@import './app/scss/mixins.scss', './app/scss/variables.scss';

@font-face {
  font-family: 'Roboto Black';
  src: url('assets/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('assets/fonts/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Regular'
}

p, ul, ol {
  @include font-size($p-font-sizes);
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

a:link {
  text-decoration: none;
}

a {
  color: $primary-a70;
  &:hover {
    color: $primary-a30;
  }
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 12px 0px;

  .page-title {
    margin: auto;
    color: $primary-a60;
  }

  @include for-tablet-portrait-up {
    padding: 12px 24px
  }
}

.button-primary {
  appearance: button;
  backface-visibility: hidden;
  background-color: $primary-a60;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: $secondary-a0;
  cursor: pointer;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;

  &:disabled {
    cursor: default;
  }

  &:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
  }
}
